* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7f0000;
}

.calc {
  background-color: #18191b;
  padding: 30px 8px;
  width: 315px;
  height: 500px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

h2 {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 28px;
  color: darkred;
}

input[type="text"] {
  width: 274px;
  height: 100px;
  border-radius: 4px;
  font-size: 55px;
  padding: 3px;
  color: #8b0000;
  background: transparent;
  text-align: end;
  box-shadow: none;
}

input {
  width: 53px;
  height: 51px;
  margin: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  color: darkred;
  background-color: #303136;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.zero {
  width: 126px;
}

.equal {
  height: 120px;
  position: absolute;
}